<header class="site-header">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
  </div>

  <nav class="site-nav">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    
    {% for page in site.pages %}
      <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
    {% endfor %}
  </nav>
</header>