// Background colours
$backgroundColour: #fef1d2 !default; /* Light Background */
$codeBackgroundColour: #fef1d2 !default;
$featureBackgroundColour: #fef1d2 !default;
$accentColour: #000000 !default;

// Text colours
$headingColour: #2e2afb !default; /* Eyes */
$bodyColour: #39363e !default; /* Dark Hair/Shirt */
$linkColour: #2e2afb !default; /* Eyes */
$hoverColour: #daa282 !default;
$focusColour: #fa407a !default;
$captionColour: #daa282 !default;
$white: #ffffff !default;

// Subtitle style variables
$subtitleBackground: #000000 !default;
$subtitleColour: #2e2afb !default;
$subtitlePadding: 3px !default;
// $subtitleFont: '"Noto Sans", sans-serif' !default; // can override in config


// Typography
$bodytype: (
  font-family: '"Noto Sans", sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Noto Sans", sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
